server:
  shutdown: graceful

spring:
  application:
    name: shop-api
  profiles:
    active: prod
    include: rabbitmq-config
  lifecycle:
    timeout-per-shutdown-phase: 30s

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true
        auto_quote_keyword: true
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true # ??? ?? ???? ??????. ?? JPA ???? ?????? ??? ?? ?? ?????? ?, ?????? ??? ???? ??? ?????.

  #elasticSearch info
  elasticsearch:
    uris: http://115.94.72.197:9200
    username: elastic
    password: nhnacademy123!

  rabbitmq:
    host: 133.186.241.167
    port: 5672
    username: admin
    password: nhnacademy123!

#  h2:
#    console:
#      enabled: true
#      path: /h2-console

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true


    service-url:
      defaultZone: http://admin:1234@localhost:8761/eureka

  instance:
    prefer-ip-address: true

management:
  health:
    status:
      order: DOWN, UP
  endpoint:
    jolokia:
      enabled: true
    metrics:
      enabled: true
    pause:
      enabled: true
    resume:
      enabled: true
    restart:
      enabled: true
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true

nhncloud:
  storage:
    url: https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_c20e3b10d61749a2a52346ed0261d79e
    container: aurora # 컨테이너 이름

#  identity:
#    token-url: "https://api-identity-infrastructure.nhncloudservice.com/v2.0/tokens"
#    secret-id: c99b0f6f27964801bf1d837a65783677

### key manager
key:
  manager:
    url: https://api-keymanager.nhncloudservice.com
    path: /keymanager/v1.0/appkey/{app-key}/secrets/{key-id}
    app-key: qTQNj7LyHhdAazH3
    password: 5555

file:
  storage:
    root: /opt/5rora-images

# 환경 변수로 넣어주기
aladin:
  api:
    base-url: https://www.aladin.co.kr/ttb/api
    ttb-key: ttbrkdtkscjs10916001

database:
  mysql:
    url: 0a26e1278d3d47ddaabe34348c5ad3d8
    password: a2eaad61880140b7a53cd7f48856f26c
    username: d05aa6d9bd8e44a6b2e775b429935482