<configuration>

    <!-- ConsoleAppender 선언 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로거 선언 -->
    <logger name="user-logger" additivity="false">
        <!-- ConsoleAppender로 로그 전송 -->
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root Logger 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>